<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
    
    {% endblock title %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'artist:home' %}">Home</a></li>
                <li><a href="{% url 'artist:album_list' %}">Album</a></li>
                <li><a href="{% url 'artist:artist_list' %}">Artist</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}
    
    {% endblock content %}

    <footer>
    <p>Copyright 2024</p>
    </footer>
</body>
</html>